@import '../../../constants/palette.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  margin-top: auto;
  background-color: $color_brand_dark;
}

.link {
  color: $color_light_text;
  text-decoration: none;
  font-size: 20px;
}
