@import '../../constants/palette.scss';
@import '../../constants/vars.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  & .card {
    min-width: 300px;
    width: 300px;
    height: 300px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
    &:hover {
      img {
        transform: perspective(600px) rotateY(-180deg);
      }
      .description {
        transform: perspective(600px) rotateY(0);
      }
    }
    & img, & .description {
      position: absolute;
      border-radius: 50%;
      overflow: hidden;
      backface-visibility: hidden;
      transition: transform .5s ease;
    }
    & img {
      display: block;
      width: 100%;
      height: 100%;
      transform: perspective(600px) rotateY(0);
    }
    & .description {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color_light_text;
      font-size: 20px;
      background-color: $color_brand_dark;
      transform: perspective(600px) rotateY(-180deg);
    }
  }
}

.aboutMeItem, .skillsItem {
  font-size: $large_font_size;
  color: $color_light_text;
  text-shadow: 1px 1px 2px $color_brand_dark, 0 0 1em $error_color;
}

.skillsItem {
  margin: 10px;
}

.skills {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
